@import '../../styles/theme';

.settings {
  --padding: 64px;

  display: grid;

  grid-auto-flow: row;
  justify-items: center;
  align-content: center;

  padding: calc(var(--padding) * 0.5) var(--padding);

  min-height: calc(100vh - 72px);

  @media (max-width: $mobile-md) {
    --padding: 32px;
  }
  @media (max-width: $mobile-sm) {
    --padding: 16px;
  }
}

.settings__paper {
  display: grid;

  gap: calc(var(--padding) * 0.5 * 0.75);
  grid-auto-flow: row;
  justify-items: center;
  align-content: flex-start;

  margin: 0 auto;
  padding: calc(var(--padding) * 0.5);

  width: 100%;
  max-width: 396px;

  border-radius: 23px;

  background-color: var(--color-background-paper);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);

  @media (max-width: $mobile-md) {
    gap: var(--padding);

    padding: var(--padding);
  }
}

.settings__avatar {
  display: inline-block;
  position: relative;
  overflow: hidden;

  margin: -4px 0;
  padding: 0 !important;

  height: 96px !important;
  width: 96px !important;

  border-radius: 24px !important;

  cursor: pointer;
}

.settings__avatarOverlay {
  display: flex;
  position: absolute;

  height: 100% !important;
  width: 100% !important;

  background-color: hsla(0, 0%, 0%, 0.35);
  color: hsl(0, 0%, 100%);

  transition: all 0.2s ease;

  &:focus,
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.42);
  }

  > * {
    margin: auto;
  }
}

.settings__paperTextSecondary {
  color: var(--color-grey);
}

.avatar {
  color: #fff;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: xxx-large;

  border-radius: 14px;
  cursor: pointer;
}
