@import '../../styles/theme';

.settings {
  --padding: 64px;

  display: grid;

  grid-auto-flow: row;
  justify-items: center;
  align-content: center;
  padding: calc(var(--padding) * 0.5) var(--padding);
  min-height: calc(100vh - 72px);
  @media (max-width: $mobile-md) {
    --padding: 32px;
  }
  @media (max-width: $mobile-sm) {
    --padding: 16px;
  }
}

.settings__paper {
  display: grid;

  gap: calc(var(--padding) * 0.5 * 0.75);
  grid-auto-flow: row;
  justify-items: center;
  align-content: flex-start;

  margin: 0 auto;
  padding: calc(var(--padding) * 0.5);

  width: 100%;
  max-width: 396px;

  border-radius: 23px;

  background-color: var(--color-background-paper);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);

  @media (max-width: $mobile-md) {
    gap: var(--padding);

    padding: var(--padding);
  }
}

.settings__paperFlex {
  display: flex;

  width: 100%;

  > * {
    margin: 0 0 auto;
  }
}

.settings__paperTextSecondary {
  color: var(--color-grey);
}
