$mobile-sm: 560px;
$mobile-md: 720px;
$mobile-lg: 960px;

$color-primary: #4040bf;
$color-secondary: #40bf40;
$color-error: #bf4640;
$color-background-default: #ededf2;
$color-background-paper: #ffffff;
$color-grey: #73738c;
$color-text-primary: #000000;
$color-text-secondary: #73738c;

$shade-sm: 0px 3px 7px -1px rgba(0, 0, 0, 0.07);
$shade-md: 0px 7px 14px -3px rgba(0, 0, 0, 0.1);
$shade-lg: 0px 14px 42px -7px rgba(0, 0, 0, 0.14);
