:root {
  --color-primary: hsl(240, 50%, 50%);
  --color-secondary: hsl(120, 50%, 50%);
  --color-error: hsl(3, 50%, 50%);
  --color-background-default: hsl(240, 16%, 94%);
  --color-background-paper: hsl(0, 0%, 100%);
  --color-grey: hsl(240, 10%, 50%);
  --color-text: hsl(0, 0%, 0%);

  --shade-small: 0px 3px 7px -1px rgba(0, 0, 0, 0.07);
  --shade-medium: 0px 7px 14px -3px rgba(0, 0, 0, 0.1);
  --shade-large: 0px 14px 42px -7px rgba(0, 0, 0, 0.14);
  --new-shade: 0px 10px 15px rgba(0, 0, 0, 0.08);

  --max-width: 1280px;
  --side-width: 220px;

  // UPDATE THESE IN _theme.scss TOO:
  --mobile-sm: 560px;
  --mobile-md: 720px;
  --mobile-lg: 960px;
}

::selection {
  background: var(--color-primary);
  color: var(--color-background-paper);
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

pre {
  display: block;

  margin: 0;
  padding: 0;

  font: inherit;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

#nprogress .bar {
  background: var(--color-secondary);

  .peg {
    box-shadow: 0 3px 7px var(--color-secondary),
      0 7px 14px var(--color-secondary);
  }
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mb-5 {
  margin-bottom: 2rem;
}
.ml-1 {
  margin-left: 0.25rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.quill {
  // height: 200px;
  // display: flex;
  // flex-direction: column;
  overflow-y: auto;
  background: rgba(8, 68, 294, 0.07);
  border-color: rgba(8, 68, 294, 0.07);
  border-radius: 18px;
}
.ql-toolbar {
  border-radius: 15px;
  // border: transparent !important;
  background-color: white;
  // margin: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
.ql-container {
  border-radius: 0 0 4px 4px;
  border: transparent !important;
  // flex: 1 1 0;
  font-size: 14px !important;
}
.ql-editor {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}
.chat-active {
  background: #fff;
  border-radius: 18px;
}

.page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

// Override the Modal dialog z-index
.ant-tree-dropdown,
.ant-tree-select-dropdown {
  position: relative;
  z-index: 9999 !important;
}
