@import '../../styles/theme';

.postDetail {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.postDetail__card {
  position: relative;
  padding: 1rem;
}
.postDetail__sellerIntro {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  @media (max-width: $mobile-md) {
    grid-template-columns: 1fr;
  }
}

.postDetail__avatar {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  > * {
    cursor: pointer;
  }
  @media (max-width: $mobile-md) {
    width: 56px;
    height: 56px;
  }
}

.postDetail__imageHolder {
  & > div {
    border-radius: 10px;
  }
  @media (max-width: $mobile-md) {
    display: flex;
    justify-content: center;
  }
}
.postDescription {
  white-space: pre-line;
  word-wrap: break-word;
  font-size: 18px;
  line-height: 27px;
}
.postDetail__content {
  display: grid;

  gap: calc(var(--padding) * 0.5);
  align-items: flex-start;

  max-width: 648px;

  @media (max-width: $mobile-sm) {
    gap: var(--padding);
  }
}

.postCard__chatmsg {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  .MuiInputBase-input {
    display: none !important;
  }
}

.postCard__chatlink {
  padding: 12px 20px;
  background-color: #0844cc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer;
}

.postDetail__post,
.postDetail__postPrices {
  --padding: 24px;

  display: grid;

  gap: 16px;

  padding: var(--padding);

  border-radius: 4px;

  background-color: var(--color-background-paper);
  box-shadow: var(--shade-small);

  @media (max-width: $mobile-md) {
    --padding: 16px;

    grid-template-columns: 1fr;
  }
}

.postDetail__postCategory {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  a {
    color: #000000;
  }
  > * {
    margin: 0 8px auto 0 !important;
    color: #000000;
  }
}

.postDetail__postCategoryChevronIconContainer {
  display: inline-block;
  position: relative;
  overflow: hidden;

  width: 24px;
  max-width: 24px;
  min-width: 24px;
  height: 24px;
  max-height: 24px;
  min-height: 24px;

  > * {
    width: inherit;
    height: inherit;
  }
}

.postDetail__postTitles {
  display: grid;

  gap: 8px;
}

.postDetail__postTitleAndActionRow {
  display: grid;

  gap: 16px;
  grid-auto-flow: column;
  grid-template-columns: auto max-content max-content;
  align-items: flex-start;
}

.postDetail__postAttributes {
  display: grid;

  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: flex-start;
}

.postDetail__postPrice {
  display: grid;

  gap: 8px;
  grid-template-columns: repeat(2, max-content) auto;
  align-items: flex-start;

  margin: 0 auto 0 0;
}

.postDetail__postPriceInfo {
  display: grid;
  gap: 8px;
}
// .postCard__promotionStatus {
//   display: block;
//   text-align: center;
//   border-radius: 300px;
//   background: hsla(120, 50%, 50%, 0.2);
//   font-weight: 500;
//   color: rgba($color: #000000, $alpha: 0.5);
//   font-size: 12px !important;
//   width: 120px;
//   height: 20px;
// }
.postDetail__upper_section {
  display: flex;
  align-items: center;
  justify-content: flexstart;
  background-color: white;
  border-radius: 23px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
  padding: 30px;
}
.postDetail_user_info_promotion_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.postDetail_user_info_text {
  font-size: 25px !important;
  list-style: 33px !important;
  color: #000000;
  word-wrap: break-word;
  padding-bottom: 30px;
}
.postDetail_info_section {
  width: 100%;
  padding-left: 20px;
}
.postDetail_user_name_text {
  padding-top: 30px;
  font-size: 30px !important;
  list-style: 30px !important;
  display: inline-block;
}
.postDetail_user_address_price_msg_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.postCard__location_price_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // padding-bottom: 24px;
  .postCard__location_wrapper,
  .postCard__price_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .postCard__location_wrapper {
    margin-left: 30px;
  }
  .postCard__location_svg_wrapper,
  .postCard__price_svg_wrapper,
  .postCard__yearxp_svg_wrapper,
  .postCard__price_desc_svg_wrapper {
    width: 42px;
    height: 42px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: currentColor;
  }

  .postCard__location_svg_wrapper {
    background-color: rgba(55, 225, 100, 0.2);
    color: #3bac59;
  }
  .postCard__price_svg_wrapper {
    background-color: rgba(252, 124, 124, 0.2);
    color: #cc0808;
  }
  .postCard__yearxp_svg_wrapper {
    background-color: #fede8d50;
    color: #cc9408;
  }
  .postCard__price_desc_svg_wrapper {
    background-color: rgba(252, 124, 124, 0.2);
    color: #cc0808;
  }
}
.postCard__promotionStatus {
  display: flex;
  align-items: center;
  img {
    object-fit: contain;
  }
  .postCard_badge_sponsored {
    padding: 10px 30px;
    background-color: #ffe9bc;
    border-radius: 17px;
    span {
      color: #cc0808;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
    }
  }
  .postCard_badge_subscribed {
    padding: 10px 30px;
    background-color: #67daf8;
    border-radius: 17px;
    span {
      color: #5387ff;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
    }
  }
  .postCard_badge_national {
    padding: 10px 30px;
    background-color: #b6e5c6;
    border-radius: 17px;
    span {
      color: #3bac59;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
    }
  }
}
.postDetail_promotion_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .postDetail__promotionImg {
    position: absolute;
    left: -45px;
    top: -10px;
  }
}
.postCard__colorTextSecondary {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}
.postDetail_msgbtn {
  button {
    color: white;
    padding: 5px 15px;
    border-radius: 17px;
    background-color: #00cbfa;
    margin-right: 10px;
    margin-bottom: 10px;
    &:hover {
      color: white;
      background-color: #fff9ae;
    }
  }
}

.postDetail_badge_inactive {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #ff0000;
  border-radius: 17px;
  position: flex;
  left: 25px;
  z-index: 1;
  span {
    color: #5387ff;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }
}

.postDetail_badge_paused {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #ffff00;
  border-radius: 17px;
  position: flex;

  left: 25px;
  z-index: 1;
  span {
    color: #5387ff;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }
}

.postDetail_icons {
  button {
    color: white;
    padding: 10px 25px;
    border-radius: 17px;
    background-color: #00cbfa;
    margin-right: 30px;
    &:hover {
      color: white;
      background-color: #fff9ae;
    }
  }
}

.postDetail__bottom_right_section,
.postDetail__bottom_left_section {
  background-color: white;
  border-radius: 23px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
  padding: 30px;
  margin-bottom: 60px;
}
.postDetail__bottom_right_section {
  margin-left: 50px;
}
.postDetail__description {
  font-size: 25px !important;
  font-weight: bold !important;
  line-height: 46px !important;
}
.postDetail__postAttachment_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.postDetail__postAttachment_section {
  background-color: #0844cc;
  padding: 20px 30px;
  border-radius: 24px;
  margin-bottom: 20px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  p {
    color: white;
    margin-top: 10px;
  }
}

.pauseDialog {
  &__content {
    text-align: center;
    padding: 30px 60px 20px 60px;
  }
  &__text {
    font-weight: bold;
    color: black;
  }
  &__actions {
    display: flex !important;
    justify-content: center;
    padding: 0 0 20px 0;
  }
  &__button {
    text-transform: capitalize;
    width: 110px;
    border: 0;
    &_outline {
      background-color: #eeeeee;
      color: black;
      &:hover {
        border: 0;
        background-color: #d8d8d8ee;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .postDetail__bottom_right_section {
    margin-top: 60px;
    margin-left: 0;
  }
}

// Newly created stuff
.card {
  border-radius: 20px;

  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
  padding: 24px;
  position: relative;
  &__img {
    background-color: #cfcfcf;
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
  }
}

// Sponsored, Subscribed, National badges
.badge {
  display: flex;
  align-items: center;
  margin-left: -66px;
  margin-top: 8px;
  margin-bottom: -10px;
  @media (max-width: 1280px) {
    margin-left: -24px;
    margin-bottom: 0px;
  }
  &__img {
    width: 50px;
    transform: translateY(8px) translateX(16px);
  }
  &__text_sponsored {
    background-color: #ffe9bc;
    color: #cc0808;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    padding: 6px 12px;
    padding-left: 20px;
  }
  &__text_subscribed {
    background-color: #67daf8;
    color: #5387ff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    padding: 6px 12px;
    padding-left: 20px;
  }
  &__text_national {
    background-color: #b6e5c6;
    color: #3bac59;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    padding: 6px 12px;
    padding-left: 20px;
  }
}

// Message send button
.postCard__chatIcon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgba(#0844cc, 0.8);
  background-color: rgba(#0844cc, 0.11);
  padding: 4px;
  border-radius: 50%;
  &:hover {
    background-color: rgba(#0844cc, 0.15);
  }
}

.postDetail__dotIcon {
  width: 14px;
  height: 14px;
  background-color: #0844cc;
  border-radius: 50%;
  outline: 8px solid rgba(#0844cc, 0.11);
  margin-right: 8px;
}

.avatar {
  color: #fff;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;

  font-weight: 600;
  font-size: 90px;

  border-radius: 14px;
  cursor: pointer;
}
